* { margin: 0; padding: 0; box-sizing: border-box; }
body {
  min-height: auto;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  font-family: Poppins;
  padding: 7rem 0;
}
.outerWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.outerWrapper .wrapper {
  width: 50%;
  min-width: 35rem;
  min-height: 45rem;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* ----------------3D Cards---------------------------------- */
.containerOne {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transform: skewY(-8deg);
}
.containerOne .card {
  height: 420px;
  width: 335px;
  background: white;
  display: flex;
  flex-direction: column;
  margin-right: 3vw;
  transition: transform 0.7s;
  pointer-events: all;
}
.containerOne .card:hover {
  transform: translateY(-100px);
}
.containerOne .card > div {
  position: relative;
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  text-align: center;
  pointer-events: none;
}
.containerOne .card .imgBx {
  background: crimson;
}
.containerOne .card .content {
  background: white;
}
.containerOne .card .imgBx h2 {
  color: #fff;
}
.containerOne .card .imgBx p {
  color: #000;
  line-height: 28px;
  word-spacing: 2px;
}
.containerOne .card .imgBx::before {
  content: '';
  position: absolute;
  top: -15px;
  /* left: -8.5px; */
  left: -7.5px;
  background: #c10c2e;
  height: 15px;
  width: 100%;
  transform: skewX(45deg);
}
.containerOne .card .imgBx::after {
  content: '';
  position: absolute;
  top: -7px;
  left: -15px;
  background: #c72a48;
  height: 99.5%;
  width: 15px;
  transform: skewY(45deg);
}
.containerOne .card .content::after {
  content: '';
  position: absolute;
  top: -8px;
  left: -15px;
  background: #ffffffad;
  height: 100%;
  width: 15px;
  transform: skewY(45deg);
}
.containerOne .card .content::before {
  content: '';
  position: absolute;
  height: 100%;
  bottom: 0;
  left: 0;
  width: 100%;
  transform-origin: bottom;
  transition-delay: 0.5s;
  transform: skew(45deg);
  transition: 0.7s;
  z-index: -1;
  background: linear-gradient(transparent, transparent, #000);
  pointer-events: none;
}
.containerOne .card:hover .content::before {
  transform: skew(45deg) translateY(-45px);
  filter: blur(10px);
  bottom: -75px;
}
