.cardBorder {
  position: relative;
  height: 435px;
  width: 335px;
  background: #000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 36px;
  margin-right: 55px;
}
.cardBorder span {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background: rgba(255, 255, 255, 0.2);
}
.cardBorder::after,
.cardBorder:before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  height: 101%;
  width: 101%;
  z-index: -1;
  background: linear-gradient(54deg, yellow, transparent, red);
  filter: blur(15px);
}
.cardBorder:after {
  filter:none;
}
.cardBorder h2 {
  margin: 0 0 20px 0;
  font-size: 24px;
}
.cardBorder h2,
.cardBorder p {
  color: white;
}
.cardBorder p {
  line-height: 24px;
}
