.containerSix {
  min-height: 50vh;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
/* .container {
  width: 100;
} */
.containerSix img {
  width: clamp(50px, 26vw, 23%);
  transform: perspective(800px) rotateY(25deg);
  opacity: 0.2;
  transition: transform 0.5s, opacity 0.5s;
  margin-left: 4vw;
  -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0004);
}
.containerSix img:hover {
  opacity: 1;
  transform: perspective(800px) rotateY(0);
}
