.container8 {
  height: 490px;
  width: 350px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
}
.container8::before {
  content: '';
  position: absolute;
  top: -45px;
  right: -45px;
  height: 70%;
  width: 98%;
  background: cyan;
  border-radius: 50%;
  transition: 0.45s ease-in-out;
  z-index: 1;
}
.container8:hover::before {
  top: -167px;
  right: -45px;
  height: 92%;
  width: 125%;
}
#shoe {
  position: relative;
  height: 120px;
  z-index: 3;
  transform: rotate(-25deg);
  transition: 0.45s ease-in-out;
}
.container8:hover #shoe {
  transform: translateY(-90px) rotate(-15deg);
}
.container8 h1 {
  color: white;
}
.container8 .content {
  position: absolute;
  height: 47%;
  width: 100%;
  bottom: -20%;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  z-index: 5;
  transition: 0.6s;
}
.container8:hover .content {
  transform: translateY(-91px);
}
.container8 .sizeBx, .container8 .colorBx {
  display: flex;
  justify-content: center;
  width: 100%;
  transform: translateY(30px);
  opacity: 0;
  transition: 0.6s;
}
.container8 .sizeBx {
  transition-delay: 0.4s;
}
.container8 .colorBx {
  transition-delay: 0.6s;
}
.container8:hover .content #buyNow,
.container8:hover .content .sizeBx,
.container8:hover .content .colorBx {
  transform: translateY(0);
  opacity: 1;
  /* transition-delay: 0; */
}
.container8 .sizes, .container8 .colors {
  display: flex;
  justify-content: space-around;
  width: 47%;
}
.container8 .sizes > div, .colors > div {
  width: 30px;
  background: white;
  display: grid;
  place-items: center;
  border-radius: 4px;
  transition: background 0.5s;
  cursor: pointer;
}
.container8 .sizeBx h2, .container8 .colorBx h2 {
  color: white;
  font-weight: lighter;
  margin-right: 10px;
}
.container8 #buyNow {
  height: 42px;
  width: 120px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  opacity: 0;
  transform: translateY(40px);
  transition: 0.4s;
  transition-delay: 0.8s;
}
.container8 .colors div {
  border-radius: 50%;
}
.container8 .colors > div:nth-child(1) {
  background: #73f50f;
}
.container8 .colors > div:nth-child(2) {
  background: #0fcbf5;
}
.container8 .colors > div:nth-child(3) {
  background: #f50f2a;
}
.container8 .sizes > div:hover {
  background: green;
}
